dist: xenial
language: python
python:
  - "3.6"
before_install:
  script: printf "TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}\nCONTRI_API: ${CONTRI_API}" > serverless.env.yml
# command to install dependencies
install:
  - npm i -g npm
  - pip install pipenv
  - pip install -r requirements.txt
  - npm i -g serverless
  - npm i serverless-python-requirements
  - pip install -U pytest
# command to run tests
script:
  - pytest
# deploy only if tests pass
after_success:
  deploy:
    script:
      - if: ${TRAVIS_PULL_REQUEST} != "true"
      - serverless config credentials --provider aws --key ${aws_access_key_id} --secret ${aws_secret_access_key} --profile iam-aws
      - sls deploy
