dist: xenial
language: python
python:
  - "3.7.6"
# command to install dependencies
install:
  - npm i -g npm
  - pip install pipenv
  - pip install -r requirements.txt
  - npm i -g serverless
  - npm i serverless-python-requirements
  - pip install -U pytest
# command to run tests
script:
  # - pytest
  - echo "Skip Tests"
# deploy only if tests pass
after_success:
  - ./deploy.sh
